---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/neon_service_credential/resource.tf" }}

{{.SchemaMarkdown}}

## Import

The Neon Service Credential can be imported to the terraform state by its composite identifier that consists of
`ProjectID`, `BranchID` and the `TokenID` separated by a forward slash.

Import using the [import block](https://developer.hashicorp.com/terraform/language/import):

For example:

```hcl
import {
  to = {{.Name}}.example
  id = "curly-poetry-30604233/br-snowy-mountain-a5jkb18i/nak_live_37d44b17a2eb45cdb60b818e327cb33c"
}
```

Import using the command `terraform import`:

```commandline
terraform import {{.Name}}.example "curly-poetry-30604233/br-snowy-mountain-a5jkb18i/nak_live_37d44b17a2eb45cdb60b818e327cb33c"
```
